In [2]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np

In [3]:
# loading the dataframe
df = pd.read_csv("CleanedFlights.csv")

# Dropping the cancelled Flights, because they are not relevant for this visualization

df = df[df["CANCELLED"] == 0]

C:\Users\Florian\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
# sorting the dataframe by airport and their total flights

df.groupby(["ORIGIN_AIRPORT", "DESTINATION_AIRPORT"]).count()
# print(df["ORIGIN_AIRPORT"].unique())

                                    Unnamed: 0  FULL_DATE  YEAR  MONTH   DAY  \
ORIGIN_AIRPORT DESTINATION_AIRPORT
10135          10397                        83         83    83     83    83
               11433                        71         71    71     71    71
               13930                        72         72    72     72    72
10136          11298                       182        182   182    182   182
10140          10397                        86         86    86     86    86
...                                        ...        ...   ...    ...   ...
XNA            SFO                          51         51    51     51    51
               SLC                           1          1     1      1     1
YAK            CDV                         328        328   328    328   328
               JNU                         329        329   329    329   329
YUM            PHX                        1854       1854  1854   1854  1854

                                    DAY_OF_WEEK  AIRLINE  SCHEDULED_DEPARTURE  \
ORIGIN_AIRPORT DESTINATION_AIRPORT
10135          10397                         83       83                   83
               11433                         71       71                   71
               13930                         72       72                   72
10136          11298                        182      182                  182
10140          10397                         86       86                   86
...                                         ...      ...                  ...
XNA            SFO                           51       51                   51
               SLC                            1        1                    1
YAK            CDV                          328      328                  328
               JNU                          329      329                  329
YUM            PHX                         1854     1854                 1854

                                    DEPARTURE_TIME  DEPARTURE_DELAY  \
ORIGIN_AIRPORT DESTINATION_AIRPORT
10135          10397                            83               83
               11433                            71               71
               13930                            72               72
10136          11298                           182              182
10140          10397                            86               86
...                                            ...              ...
XNA            SFO                              51               51
               SLC                               1                1
YAK            CDV                             328              328
               JNU                             329              329
YUM            PHX                            1854             1854

                                    SCHEDULED_TIME  ELAPSED_TIME  AIR_TIME  \
ORIGIN_AIRPORT DESTINATION_AIRPORT
10135          10397                            83            83        83
               11433                            71            71        71
               13930                            72            72        72
10136          11298                           182           181       181
10140          10397                            86            86        86
...                                            ...           ...       ...
XNA            SFO                              51            51        51
               SLC                               1             1         1
YAK            CDV                             328           325       325
               JNU                             329           325       325
YUM            PHX                            1854          1854      1854

                                    DISTANCE  SCHEDULED_ARRIVAL  ARRIVAL_TIME  \
ORIGIN_AIRPORT DESTINATION_AIRPORT
10135          10397                      83                 83            83
               11433                      71                 71            71
               13930                      72                 72            72
10136          11298                     182                182           182
10140          10397                      86                 86            86
...                                      ...                ...           ...
XNA            SFO                        51                 51            51
               SLC                         1                  1             1
YAK            CDV                       328                328           325
               JNU                       329                329           325
YUM            PHX                      1854               1854          1854

                                    ARRIVAL_DELAY  CANCELLED
ORIGIN_AIRPORT DESTINATION_AIRPORT
10135          10397                           83         83
               11433                           71         71
               13930                           72         72
10136          11298                          181        182
10140          10397                           86         86
...                                           ...        ...
XNA            SFO                             51         51
               SLC                              1          1
YAK            CDV                            325        328
               JNU                            325        329
YUM            PHX                           1854       1854

[12362 rows x 18 columns]